<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <div>
      <h1><%= @movie.title %></h1>
      <h5><%= @movie.released.strftime("%B %d, %Y") %></h5>
    </div>
    <div class="d-flex gap-3">
      <div>
        <h4>Average Rating</h4>
        <h4 class="text-center"><%= average_rating(@movie) %> <i class="bi bi-star"></i></h4>
      </div>
      <% if user_signed_in?%>
        <div>
          <h4>Your Rating</h4>
          <h4 class="text-center"><%= your_rating(@movie) %><i class="bi bi-star"></i></h4>
        </div>
      <% end%> 
    </div>
  </div>
  <p class="text-muted">
    <%= @movie.blurb %>
  </p>
  <p>
    <strong>Genre:</strong> <%= @movie.categories.pluck(:name).join(', ') %> <br>
    <strong>Country of Origin:</strong> <%= @movie.country_of_origin %><br>
    <strong>Showing:</strong> <%= @movie.showing_start.strftime("%B %d, %Y %I:%M %p") %>
    - <%= @movie.showing_end.strftime("%B %d, %Y %I:%M %p") %>
  </p>
  <% if user_signed_in? && @movie.user == current_user %>
    <%= link_to 'Edit Movie', edit_movie_path(@movie), class: "btn btn-success mb-2" %>
    <%= button_to 'Delete Movie', movie_path(@movie), method: :delete, class: "btn btn-danger mb-2" %>
  <% end %>
  <div style="border-bottom: 2px solid black; width: 100%;"></div>
  <h1>Reviews</h1>
  <% if user_signed_in? %>
    <% if @movie.reviews.where(user_id: current_user.id).empty? %>
      <%= link_to 'Add Review', new_movie_review_path(@movie) %>
    <% else %>
      <p>You have already reviewed this movie.</p>
    <% end %>
  <% end %>

  <div class="reviews">
    <% @ordered_reviews.each do |review| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <%= review.user.username %>
            <small class="text-muted">
              <%= review.created_at.strftime("%B %d, %Y") %>
            </small>
          </h5>
          <p class="card-text"><%= review.content %> <%= review.rating %><i class="bi bi-star"></i>
          </p>
          <% if current_user == review.user %>
            <%= link_to 'Edit Review', edit_movie_review_path(movie_id: @movie.id, id: review.id), class: "btn btn-success mb-2" %>
            <%= button_to 'Delete Review', movie_review_path(movie_id: @movie.id, id: review.id), method: :delete, class: "btn btn-danger mb-2" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
